{
  "protocol": "rest",
  "name": "analyticsdata",
  "discoveryVersion": "v1",
  "rootUrl": "https://analyticsdata.googleapis.com/",
  "mtlsRootUrl": "https://analyticsdata.mtls.googleapis.com/",
  "description": "Accesses report data in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning. ",
  "title": "Google Analytics Data API",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.chatbot.read": {
          "description": "Query Google Analytics data and insights conversationally"
        }
      }
    }
  },
  "resources": {
    "properties": {
      "methods": {
        "getMetadata": {
          "description": "Returns metadata for dimensions and metrics available in reporting methods. Used to explore the dimensions and metrics. In this method, a Google Analytics property identifier is specified in the request, and the metadata response includes Custom dimensions and metrics as well as Universal metadata. For example if a custom metric with parameter name `levels_unlocked` is registered to a property, the Metadata response will contain `customEvent:levels_unlocked`. Universal metadata are dimensions and metrics applicable to any property such as `country` and `totalUsers`.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Metadata"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. The resource name of the metadata to retrieve. This name field is specified in the URL path and not URL parameters. Property is a numeric Google Analytics property identifier. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id). Example: properties/1234/metadata Set the Property ID to 0 for dimensions and metrics common to all properties. In this special mode, this method will not return custom dimensions and metrics.",
              "required": true,
              "pattern": "^properties/[^/]+/metadata$"
            }
          },
          "id": "analyticsdata.properties.getMetadata",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/metadata"
        },
        "runFunnelReport": {
          "parameters": {
            "property": {
              "location": "path",
              "description": "Optional. A Google Analytics property identifier whose events are tracked. Specified in the URL path and not the body. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id). Within a batch request, this property should either be unspecified or consistent with the batch-level property. Example: properties/1234",
              "type": "string",
              "required": true,
              "pattern": "^properties/[^/]+$"
            }
          },
          "flatPath": "v1alpha/properties/{propertiesId}:runFunnelReport",
          "path": "v1alpha/{+property}:runFunnelReport",
          "parameterOrder": [
            "property"
          ],
          "id": "analyticsdata.properties.runFunnelReport",
          "description": "Returns a customized funnel report of your Google Analytics event data. The data returned from the API is as a table with columns for the requested dimensions and metrics. Funnel exploration lets you visualize the steps your users take to complete a task and quickly see how well they are succeeding or failing at each step. For example, how do prospects become shoppers and then become buyers? How do one time buyers become repeat buyers? With this information, you can improve inefficient or abandoned customer journeys. To learn more, see [GA4 Funnel Explorations](https://support.google.com/analytics/answer/9327974). This method is introduced at alpha stability with the intention of gathering feedback on syntax and capabilities before entering beta. To give your feedback on this API, complete the [Google Analytics Data API Funnel Reporting Feedback](https://docs.google.com/forms/d/e/1FAIpQLSdwOlQDJAUoBiIgUZZ3S_Lwi8gr7Bb0k1jhvc-DEg7Rol3UjA/viewform).",
          "response": {
            "$ref": "RunFunnelReportResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "RunFunnelReportRequest"
          }
        },
        "chat": {
          "parameters": {
            "property": {
              "type": "string",
              "location": "path",
              "description": "Required. The property to chat about. Format: properties/{property}",
              "required": true,
              "pattern": "^properties/[^/]+$"
            }
          },
          "parameterOrder": [
            "property"
          ],
          "response": {
            "$ref": "ChatResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.chatbot.read"
          ],
          "id": "analyticsdata.properties.chat",
          "path": "v1alpha/{+property}:chat",
          "flatPath": "v1alpha/properties/{propertiesId}:chat",
          "httpMethod": "POST",
          "request": {
            "$ref": "ChatRequest"
          },
          "description": "Provides a chat interface for interacting with Google Analytics data through the API. This product uses AI and may display inaccurate info. Your chat activity may be used to improve the product and your use is subject to Google's [Terms](https://policies.google.com/terms), [AI Use Policy](https://policies.google.com/terms/generative-ai/use-policy), and [Privacy Policy](https://policies.google.com/privacy). [Learn more about Chat AI Privacy](https://support.google.com/helpguide/answer/14185196)."
        },
        "runReport": {
          "flatPath": "v1alpha/properties/{propertiesId}:runReport",
          "parameterOrder": [
            "property"
          ],
          "path": "v1alpha/{+property}:runReport",
          "description": "Returns a customized report of your Google Analytics event data. Reports contain statistics derived from data collected by the Google Analytics tracking code. The data returned from the API is as a table with columns for the requested dimensions and metrics. Metrics are individual measurements of user activity on your property, such as active users or event count. Dimensions break down metrics across some common criteria, such as country or event name.",
          "id": "analyticsdata.properties.runReport",
          "parameters": {
            "property": {
              "location": "path",
              "description": "Required. A Google Analytics property identifier whose events are tracked. Specified in the URL path and not the body. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id). Within a batch request, this property should either be unspecified or consistent with the batch-level property. Example: properties/1234",
              "pattern": "^properties/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "RunReportRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "RunReportResponse"
          }
        },
        "getPropertyQuotasSnapshot": {
          "response": {
            "$ref": "PropertyQuotasSnapshot"
          },
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/propertyQuotasSnapshot$",
              "type": "string",
              "location": "path",
              "description": "Required. Quotas from this property will be listed in the response. Format: `properties/{property}/propertyQuotasSnapshot`",
              "required": true
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1alpha/properties/{propertiesId}/propertyQuotasSnapshot",
          "path": "v1alpha/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsdata.properties.getPropertyQuotasSnapshot",
          "description": "Get all property quotas organized by quota category for a given property. This will charge 1 property quota from the category with the most quota."
        }
      },
      "resources": {
        "reportTasks": {
          "methods": {
            "list": {
              "description": "Lists all report tasks for a property.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/reportTasks",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "ListReportTasksResponse"
              },
              "id": "analyticsdata.properties.reportTasks.list",
              "path": "v1alpha/{+parent}/reportTasks",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "description": "Required. All report tasks for this property will be listed in the response. Format: `properties/{property}`"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListReportTasks` call. Provide this to retrieve the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of report tasks to return."
                }
              }
            },
            "query": {
              "request": {
                "$ref": "QueryReportTaskRequest"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/reportTasks/{reportTasksId}:query",
              "path": "v1alpha/{+name}:query",
              "id": "analyticsdata.properties.reportTasks.query",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The report source name. Format: `properties/{property}/reportTasks/{report}`",
                  "pattern": "^properties/[^/]+/reportTasks/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "QueryReportTaskResponse"
              },
              "description": "Retrieves a report task's content. After requesting the `CreateReportTask`, you are able to retrieve the report content once the report is ACTIVE. This method will return an error if the report task's state is not `ACTIVE`. A query response will return the tabular row & column values of the report.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets report metadata about a specific report task. After creating a report task, use this method to check its processing state or inspect its report definition.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The report task resource name. Format: `properties/{property}/reportTasks/{report_task}`",
                  "pattern": "^properties/[^/]+/reportTasks/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ReportTask"
              },
              "id": "analyticsdata.properties.reportTasks.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/reportTasks/{reportTasksId}"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsdata.properties.reportTasks.create",
              "flatPath": "v1alpha/properties/{propertiesId}/reportTasks",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource where this report task will be created. Format: `properties/{propertyId}`",
                  "pattern": "^properties/[^/]+$",
                  "required": true
                }
              },
              "path": "v1alpha/{+parent}/reportTasks",
              "request": {
                "$ref": "ReportTask"
              },
              "httpMethod": "POST",
              "description": "Initiates the creation of a report task. This method quickly returns a report task and initiates a long running asynchronous request to form a customized report of your Google Analytics event data. A report task will be retained and available for querying for 72 hours after it has been created. A report task created by one user can be listed and queried by all users who have access to the property.",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "recurringAudienceLists": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource where this recurring audience list will be created. Format: `properties/{property}`",
                  "required": true,
                  "pattern": "^properties/[^/]+$"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/recurringAudienceLists",
              "request": {
                "$ref": "RecurringAudienceList"
              },
              "path": "v1alpha/{+parent}/recurringAudienceLists",
              "description": "Creates a recurring audience list. Recurring audience lists produces new audience lists each day. Audience lists are users in an audience at the time of the list's creation. A recurring audience list ensures that you have audience list based on the most recent data available for use each day. If you manually create audience list, you don't know when an audience list based on an additional day's data is available. This recurring audience list automates the creation of an audience list when an additional day's data is available. You will consume fewer quota tokens by using recurring audience list versus manually creating audience list at various times of day trying to guess when an additional day's data is ready. This method is introduced at alpha stability with the intention of gathering feedback on syntax and capabilities before entering beta. To give your feedback on this API, complete the [Google Analytics Audience Export API Feedback](https://forms.gle/EeA5u5LW6PEggtCEA) form.",
              "httpMethod": "POST",
              "response": {
                "$ref": "RecurringAudienceList"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsdata.properties.recurringAudienceLists.create"
            },
            "list": {
              "id": "analyticsdata.properties.recurringAudienceLists.list",
              "description": "Lists all recurring audience lists for a property. This method can be used for you to find and reuse existing recurring audience lists rather than creating unnecessary new recurring audience lists. The same audience can have multiple recurring audience lists that represent different dimension combinations; for example, just the dimension `deviceId` or both the dimensions `deviceId` and `userId`. This method is introduced at alpha stability with the intention of gathering feedback on syntax and capabilities before entering beta. To give your feedback on this API, complete the [Google Analytics Audience Export API Feedback](https://forms.gle/EeA5u5LW6PEggtCEA) form.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/recurringAudienceLists",
              "response": {
                "$ref": "ListRecurringAudienceListsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha/properties/{propertiesId}/recurringAudienceLists",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListRecurringAudienceLists` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRecurringAudienceLists` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of recurring audience lists to return. The service may return fewer than this value. If unspecified, at most 200 recurring audience lists will be returned. The maximum value is 1000 (higher values will be coerced to the maximum).",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "description": "Required. All recurring audience lists for this property will be listed in the response. Format: `properties/{property}`",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/recurringAudienceLists/[^/]+$",
                  "description": "Required. The recurring audience list resource name. Format: `properties/{property}/recurringAudienceLists/{recurring_audience_list}`",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "RecurringAudienceList"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/recurringAudienceLists/{recurringAudienceListsId}",
              "id": "analyticsdata.properties.recurringAudienceLists.get",
              "description": "Gets configuration metadata about a specific recurring audience list. This method can be used to understand a recurring audience list's state after it has been created. For example, a recurring audience list resource will generate audience list instances for each day, and this method can be used to get the resource name of the most recent audience list instance. This method is introduced at alpha stability with the intention of gathering feedback on syntax and capabilities before entering beta. To give your feedback on this API, complete the [Google Analytics Audience Export API Feedback](https://forms.gle/EeA5u5LW6PEggtCEA) form.",
              "httpMethod": "GET"
            }
          }
        },
        "audienceLists": {
          "methods": {
            "query": {
              "flatPath": "v1alpha/properties/{propertiesId}/audienceLists/{audienceListsId}:query",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves an audience list of users. After creating an audience, the users are not immediately available for listing. First, a request to `CreateAudienceList` is necessary to create an audience list of users, and then second, this method is used to retrieve the users in the audience list. See [Creating an Audience List](https://developers.google.com/analytics/devguides/reporting/data/v1/audience-list-basics) for an introduction to Audience Lists with examples. Audiences in Google Analytics 4 allow you to segment your users in the ways that are important to your business. To learn more, see https://support.google.com/analytics/answer/9267572. This method is available at beta stability at [audienceExports.query](https://developers.google.com/analytics/devguides/reporting/data/v1/rest/v1beta/properties.audienceExports/query). To give your feedback on this API, complete the [Google Analytics Audience Export API Feedback](https://forms.gle/EeA5u5LW6PEggtCEA) form.",
              "request": {
                "$ref": "QueryAudienceListRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "QueryAudienceListResponse"
              },
              "id": "analyticsdata.properties.audienceLists.query",
              "path": "v1alpha/{+name}:query",
              "parameters": {
                "name": {
                  "description": "Required. The name of the audience list to retrieve users from. Format: `properties/{property}/audienceLists/{audience_list}`",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/audienceLists/[^/]+$"
                }
              }
            },
            "get": {
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/audienceLists/{audienceListsId}",
              "httpMethod": "GET",
              "description": "Gets configuration metadata about a specific audience list. This method can be used to understand an audience list after it has been created. See [Creating an Audience List](https://developers.google.com/analytics/devguides/reporting/data/v1/audience-list-basics) for an introduction to Audience Lists with examples. This method is available at beta stability at [audienceExports.get](https://developers.google.com/analytics/devguides/reporting/data/v1/rest/v1beta/properties.audienceExports/get). To give your feedback on this API, complete the [Google Analytics Audience Export API Feedback](https://forms.gle/EeA5u5LW6PEggtCEA) form.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+/audienceLists/[^/]+$",
                  "description": "Required. The audience list resource name. Format: `properties/{property}/audienceLists/{audience_list}`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsdata.properties.audienceLists.get",
              "response": {
                "$ref": "AudienceList"
              }
            },
            "list": {
              "parameters": {
                "parent": {
                  "description": "Required. All audience lists for this property will be listed in the response. Format: `properties/{property}`",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of audience lists to return. The service may return fewer than this value. If unspecified, at most 200 audience lists will be returned. The maximum value is 1000 (higher values will be coerced to the maximum)."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListAudienceLists` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAudienceLists` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "id": "analyticsdata.properties.audienceLists.list",
              "description": "Lists all audience lists for a property. This method can be used for you to find and reuse existing audience lists rather than creating unnecessary new audience lists. The same audience can have multiple audience lists that represent the list of users that were in an audience on different days. See [Creating an Audience List](https://developers.google.com/analytics/devguides/reporting/data/v1/audience-list-basics) for an introduction to Audience Lists with examples. This method is available at beta stability at [audienceExports.list](https://developers.google.com/analytics/devguides/reporting/data/v1/rest/v1beta/properties.audienceExports/list). To give your feedback on this API, complete the [Google Analytics Audience Export API Feedback](https://forms.gle/EeA5u5LW6PEggtCEA) form.",
              "response": {
                "$ref": "ListAudienceListsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/audienceLists",
              "flatPath": "v1alpha/properties/{propertiesId}/audienceLists"
            },
            "create": {
              "id": "analyticsdata.properties.audienceLists.create",
              "request": {
                "$ref": "AudienceList"
              },
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource where this audience list will be created. Format: `properties/{property}`",
                  "required": true
                }
              },
              "path": "v1alpha/{+parent}/audienceLists",
              "description": "Creates an audience list for later retrieval. This method quickly returns the audience list's resource name and initiates a long running asynchronous request to form an audience list. To list the users in an audience list, first create the audience list through this method and then send the audience resource name to the `QueryAudienceList` method. See [Creating an Audience List](https://developers.google.com/analytics/devguides/reporting/data/v1/audience-list-basics) for an introduction to Audience Lists with examples. An audience list is a snapshot of the users currently in the audience at the time of audience list creation. Creating audience lists for one audience on different days will return different results as users enter and exit the audience. Audiences in Google Analytics 4 allow you to segment your users in the ways that are important to your business. To learn more, see https://support.google.com/analytics/answer/9267572. Audience lists contain the users in each audience. This method is available at beta stability at [audienceExports.create](https://developers.google.com/analytics/devguides/reporting/data/v1/rest/v1beta/properties.audienceExports/create). To give your feedback on this API, complete the [Google Analytics Audience Export API Feedback](https://forms.gle/EeA5u5LW6PEggtCEA) form.",
              "httpMethod": "POST",
              "flatPath": "v1alpha/properties/{propertiesId}/audienceLists"
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://analyticsdata.googleapis.com/",
  "basePath": "",
  "id": "analyticsdata:v1alpha",
  "servicePath": "",
  "canonicalName": "AnalyticsData",
  "kind": "discovery#restDescription",
  "revision": "20260909",
  "version": "v1alpha",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    }
  },
  "schemas": {
    "FilterExpression": {
      "id": "FilterExpression",
      "description": "To express dimension or metric filters. The fields in the same FilterExpression need to be either all dimensions or all metrics.",
      "type": "object",
      "properties": {
        "orGroup": {
          "$ref": "FilterExpressionList",
          "description": "The FilterExpressions in or_group have an OR relationship."
        },
        "filter": {
          "$ref": "Filter",
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics."
        },
        "notExpression": {
          "description": "The FilterExpression is NOT of not_expression.",
          "$ref": "FilterExpression"
        },
        "andGroup": {
          "$ref": "FilterExpressionList",
          "description": "The FilterExpressions in and_group have an AND relationship."
        }
      }
    },
    "Filter": {
      "id": "Filter",
      "description": "An expression to filter dimension or metric values.",
      "properties": {
        "fieldName": {
          "description": "The dimension name or metric name. Must be a name defined in dimensions or metrics.",
          "type": "string"
        },
        "betweenFilter": {
          "$ref": "BetweenFilter",
          "description": "A filter for between two values."
        },
        "emptyFilter": {
          "$ref": "EmptyFilter",
          "description": "A filter for empty values such as \"(not set)\" and \"\" values."
        },
        "numericFilter": {
          "$ref": "NumericFilter",
          "description": "A filter for numeric or date values."
        },
        "stringFilter": {
          "description": "Strings related filter.",
          "$ref": "StringFilter"
        },
        "inListFilter": {
          "description": "A filter for in list values.",
          "$ref": "InListFilter"
        }
      },
      "type": "object"
    },
    "CohortReportSettings": {
      "properties": {
        "accumulate": {
          "type": "boolean",
          "description": "If true, accumulates the result from first touch day to the end day. Not supported in `RunReportRequest`."
        }
      },
      "description": "Optional settings of a cohort report.",
      "id": "CohortReportSettings",
      "type": "object"
    },
    "FunnelParameterFilterExpression": {
      "type": "object",
      "properties": {
        "andGroup": {
          "description": "The FunnelParameterFilterExpression in `andGroup` have an AND relationship.",
          "$ref": "FunnelParameterFilterExpressionList"
        },
        "funnelParameterFilter": {
          "description": "A primitive funnel parameter filter.",
          "$ref": "FunnelParameterFilter"
        },
        "notExpression": {
          "$ref": "FunnelParameterFilterExpression",
          "description": "The FunnelParameterFilterExpression is NOT of `notExpression`."
        },
        "orGroup": {
          "$ref": "FunnelParameterFilterExpressionList",
          "description": "The FunnelParameterFilterExpression in `orGroup` have an OR relationship."
        }
      },
      "description": "Expresses combinations of funnel filters on parameters.",
      "id": "FunnelParameterFilterExpression"
    },
    "EventSegmentCriteria": {
      "id": "EventSegmentCriteria",
      "type": "object",
      "description": "An event matches a criteria if the event meet the conditions in the criteria.",
      "properties": {
        "andConditionGroups": {
          "type": "array",
          "description": "An event matches this criteria if the event matches each of these `andConditionGroups`.",
          "items": {
            "$ref": "EventSegmentConditionGroup"
          }
        }
      }
    },
    "ComparisonMetadata": {
      "type": "object",
      "properties": {
        "description": {
          "description": "This comparison's description.",
          "type": "string"
        },
        "apiName": {
          "type": "string",
          "description": "This comparison's resource name. Usable in [Comparison](#Comparison)'s `comparison` field. For example, 'comparisons/1234'."
        },
        "uiName": {
          "description": "This comparison's name within the Google Analytics user interface.",
          "type": "string"
        }
      },
      "id": "ComparisonMetadata",
      "description": "The metadata for a single comparison."
    },
    "SegmentEventFilter": {
      "description": "Creates a filter that matches events of a single event name. If a parameter filter expression is specified, only the subset of events that match both the single event name and the parameter filter expressions match this event filter.",
      "type": "object",
      "properties": {
        "eventName": {
          "description": "This filter matches events of this single event name. Event name is required.",
          "type": "string"
        },
        "segmentParameterFilterExpression": {
          "$ref": "SegmentParameterFilterExpression",
          "description": "If specified, this filter matches events that match both the single event name and the parameter filter expressions. Inside the parameter filter expression, only parameter filters are available."
        }
      },
      "id": "SegmentEventFilter"
    },
    "AudienceList": {
      "type": "object",
      "properties": {
        "audienceDisplayName": {
          "description": "Output only. The descriptive display name for this audience. For example, \"Purchasers\".",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state will never be used.",
            "The AudienceList is currently creating and will be available in the future. Creating occurs immediately after the CreateAudienceList call.",
            "The AudienceList is fully created and ready for querying. An AudienceList is updated to active asynchronously from a request; this occurs some time (for example 15 minutes) after the initial create call.",
            "The AudienceList failed to be created. It is possible that re-requesting this audience list will succeed."
          ],
          "type": "string",
          "description": "Output only. The current state for this AudienceList.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED"
          ]
        },
        "errorMessage": {
          "readOnly": true,
          "description": "Output only. Error message is populated when an audience list fails during creation. A common reason for such a failure is quota exhaustion.",
          "type": "string"
        },
        "percentageCompleted": {
          "format": "double",
          "readOnly": true,
          "type": "number",
          "description": "Output only. The percentage completed for this audience export ranging between 0 to 100."
        },
        "webhookNotification": {
          "$ref": "WebhookNotification",
          "description": "Optional. Configures webhook notifications to be sent from the Google Analytics Data API to your webhook server. Use of webhooks is optional. If unused, you'll need to poll this API to determine when an audience list is ready to be used. Webhooks allow a notification to be sent to your servers & avoid the need for polling. Either one or two POST requests will be sent to the webhook. The first POST request will be sent immediately showing the newly created audience list in its CREATING state. The second POST request will be sent after the audience list completes creation (either the ACTIVE or FAILED state). If identical audience lists are requested in quick succession, the second & subsequent audience lists can be served from cache. In that case, the audience list create method can return an audience list is already ACTIVE. In this scenario, only one POST request will be sent to the webhook."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The audience list resource name assigned during creation. This resource name identifies this `AudienceList`. Format: `properties/{property}/audienceLists/{audience_list}`"
        },
        "recurringAudienceList": {
          "type": "string",
          "description": "Output only. The recurring audience list that created this audience list. Recurring audience lists create audience lists daily. If audience lists are created directly, they will have no associated recurring audience list, and this field will be blank.",
          "readOnly": true
        },
        "beginCreatingTime": {
          "description": "Output only. The time when CreateAudienceList was called and the AudienceList began the `CREATING` state.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "creationQuotaTokensCharged": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The total quota tokens charged during creation of the AudienceList. Because this token count is based on activity from the `CREATING` state, this tokens charged will be fixed once an AudienceList enters the `ACTIVE` or `FAILED` states."
        },
        "audience": {
          "description": "Required. The audience resource name. This resource name identifies the audience being listed and is shared between the Analytics Data & Admin APIs. Format: `properties/{property}/audiences/{audience}`",
          "type": "string"
        },
        "rowCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The total number of rows in the AudienceList result.",
          "readOnly": true
        },
        "dimensions": {
          "items": {
            "$ref": "AudienceDimension"
          },
          "description": "Required. The dimensions requested and displayed in the query response.",
          "type": "array"
        }
      },
      "description": "An audience list is a list of users in an audience at the time of the list's creation. One audience may have multiple audience lists created for different days.",
      "id": "AudienceList"
    },
    "FunnelFilterExpressionList": {
      "type": "object",
      "description": "A list of funnel filter expressions.",
      "properties": {
        "expressions": {
          "description": "The list of funnel filter expressions.",
          "type": "array",
          "items": {
            "$ref": "FunnelFilterExpression"
          }
        }
      },
      "id": "FunnelFilterExpressionList"
    },
    "QueryReportTaskResponse": {
      "type": "object",
      "id": "QueryReportTaskResponse",
      "properties": {
        "rowCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of rows in the query result."
        },
        "rows": {
          "type": "array",
          "description": "Rows of dimension value combinations and metric values in the report.",
          "items": {
            "$ref": "Row"
          }
        },
        "dimensionHeaders": {
          "description": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "type": "array",
          "items": {
            "$ref": "DimensionHeader"
          }
        },
        "metricHeaders": {
          "type": "array",
          "description": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "items": {
            "$ref": "MetricHeader"
          }
        },
        "minimums": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "If requested, the minimum values of metrics."
        },
        "maximums": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "If requested, the maximum values of metrics."
        },
        "metadata": {
          "$ref": "ResponseMetaData",
          "description": "Metadata for the report."
        },
        "totals": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "If requested, the totaled values of metrics."
        }
      },
      "description": "The report content corresponding to a report task."
    },
    "SessionSegmentConditionGroup": {
      "id": "SessionSegmentConditionGroup",
      "properties": {
        "segmentFilterExpression": {
          "description": "Data is included or excluded from the segment based on if it matches this expression. Expressions express criteria on dimension, metrics, and/or parameters.",
          "$ref": "SegmentFilterExpression"
        },
        "conditionScoping": {
          "description": "Data is included or excluded from the segment based on if it matches the condition group. This scoping defines how many events the `segmentFilterExpression` is evaluated on before the condition group is determined to be matched or not. For example if `conditionScoping = SESSION_CRITERIA_WITHIN_SAME_SESSION`, the expression is evaluated on all events in a session, and then, the condition group is determined to be matched or not for this session. For example if `conditionScoping = SESSION_CRITERIA_WITHIN_SAME_EVENT`, the expression is evaluated on a single event, and then, the condition group is determined to be matched or not for this session. Optional. If unspecified, a `conditionScoping` of `WITHIN_SAME_SESSION` is used.",
          "enumDescriptions": [
            "Unspecified criteria scoping. Do not specify.",
            "If the criteria is satisfied within one event, the session matches the criteria.",
            "If the criteria is satisfied within one session, the session matches the criteria."
          ],
          "enum": [
            "SESSION_CRITERIA_SCOPING_UNSPECIFIED",
            "SESSION_CRITERIA_WITHIN_SAME_EVENT",
            "SESSION_CRITERIA_WITHIN_SAME_SESSION"
          ],
          "type": "string"
        }
      },
      "description": "Conditions tell Analytics what data to include in or exclude from the segment.",
      "type": "object"
    },
    "EventSegmentExclusion": {
      "id": "EventSegmentExclusion",
      "description": "Specifies which events are excluded in this segment.",
      "properties": {
        "eventExclusionDuration": {
          "description": "`eventExclusionDuration` should always be `PERMANENTLY_EXCLUDE`. Optional. If unspecified, an `eventExclusionDuration` of `EVENT_EXCLUSION_PERMANENT` is used.",
          "type": "string",
          "enum": [
            "EVENT_EXCLUSION_DURATION_UNSPECIFIED",
            "EVENT_EXCLUSION_PERMANENT"
          ],
          "enumDescriptions": [
            "Unspecified exclusion duration. Do not specify.",
            "Permanently exclude events from the segment if the event ever meets the `eventExclusionCriteria` condition."
          ]
        },
        "eventExclusionCriteria": {
          "$ref": "EventSegmentCriteria",
          "description": "If an event meets this condition, the event is excluded from membership in the segment for the `eventExclusionDuration`."
        }
      },
      "type": "object"
    },
    "ConcatenateExpression": {
      "type": "object",
      "id": "ConcatenateExpression",
      "properties": {
        "delimiter": {
          "type": "string",
          "description": "The delimiter placed between dimension names. Delimiters are often single characters such as \"|\" or \",\" but can be longer strings. If a dimension value contains the delimiter, both will be present in response with no distinction. For example if dimension 1 value = \"US,FR\", dimension 2 value = \"JP\", and delimiter = \",\", then the response will contain \"US,FR,JP\"."
        },
        "dimensionNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Names of dimensions. The names must refer back to names in the dimensions field of the request."
        }
      },
      "description": "Used to combine dimension values to a single dimension."
    },
    "SegmentFilterExpression": {
      "type": "object",
      "properties": {
        "segmentFilter": {
          "description": "A primitive segment filter.",
          "$ref": "SegmentFilter"
        },
        "andGroup": {
          "$ref": "SegmentFilterExpressionList",
          "description": "The SegmentFilterExpression in `andGroup` have an AND relationship."
        },
        "notExpression": {
          "$ref": "SegmentFilterExpression",
          "description": "The SegmentFilterExpression is NOT of `notExpression`."
        },
        "orGroup": {
          "$ref": "SegmentFilterExpressionList",
          "description": "The SegmentFilterExpression in `orGroup` have an OR relationship."
        },
        "segmentEventFilter": {
          "$ref": "SegmentEventFilter",
          "description": "Creates a filter that matches events of a single event name. If a parameter filter expression is specified, only the subset of events that match both the single event name and the parameter filter expressions match this event filter."
        }
      },
      "description": "Expresses combinations of segment filters.",
      "id": "SegmentFilterExpression"
    },
    "ActiveMetricRestriction": {
      "id": "ActiveMetricRestriction",
      "description": "A metric actively restricted in creating the report.",
      "type": "object",
      "properties": {
        "restrictedMetricTypes": {
          "type": "array",
          "description": "The reason for this metric's restriction.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified type.",
              "Cost metrics such as `adCost`.",
              "Revenue metrics such as `purchaseRevenue`."
            ],
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ]
          }
        },
        "metricName": {
          "description": "The name of the restricted metric.",
          "type": "string"
        }
      }
    },
    "UserSegmentSequenceGroup": {
      "type": "object",
      "description": "Define conditions that must occur in a specific order for the user to be a member of the segment.",
      "id": "UserSegmentSequenceGroup",
      "properties": {
        "userSequenceSteps": {
          "type": "array",
          "items": {
            "$ref": "UserSequenceStep"
          },
          "description": "An ordered sequence of condition steps. A user's events must complete each step in order for the user to match the `UserSegmentSequenceGroup`."
        },
        "sequenceScoping": {
          "type": "string",
          "enum": [
            "USER_CRITERIA_SCOPING_UNSPECIFIED",
            "USER_CRITERIA_WITHIN_SAME_EVENT",
            "USER_CRITERIA_WITHIN_SAME_SESSION",
            "USER_CRITERIA_ACROSS_ALL_SESSIONS"
          ],
          "description": "All sequence steps must be satisfied in the scoping for the user to match the sequence. For example if `sequenceScoping = USER_CRITERIA_WITHIN_SAME_SESSION`, all sequence steps must complete within one session for the user to match the sequence. `sequenceScoping = USER_CRITERIA_WITHIN_SAME_EVENT` is not supported. Optional. If unspecified, `conditionScoping = ACROSS_ALL_SESSIONS` is used.",
          "enumDescriptions": [
            "Unspecified criteria scoping. Do not specify.",
            "If the criteria is satisfied within one event, the user matches the criteria.",
            "If the criteria is satisfied within one session, the user matches the criteria.",
            "If the criteria is satisfied by any events for the user, the user matches the criteria."
          ]
        },
        "sequenceMaximumDuration": {
          "description": "Defines the time period in which the whole sequence must occur; for example, 30 Minutes. `sequenceMaximumDuration` is inclusive of the endpoint at the microsecond granularity. For example a sequence with a maximum duration of 5 seconds can be completed at 4.9 or 5.0 seconds, but not 5 seconds and 1 microsecond. `sequenceMaximumDuration` is optional, and if unspecified, sequences can be completed in any time duration.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "ResponseBlock": {
      "id": "ResponseBlock",
      "type": "object",
      "description": "One block of structured data in chat response.",
      "properties": {
        "text": {
          "description": "A block of text.",
          "type": "string"
        },
        "table": {
          "$ref": "DataTable",
          "description": "A block of table data."
        }
      }
    },
    "AudienceDimensionValue": {
      "properties": {
        "value": {
          "description": "Value as a string if the dimension type is a string.",
          "type": "string"
        }
      },
      "description": "The value of a dimension.",
      "type": "object",
      "id": "AudienceDimensionValue"
    },
    "FunnelEventFilter": {
      "id": "FunnelEventFilter",
      "type": "object",
      "description": "Creates a filter that matches events of a single event name. If a parameter filter expression is specified, only the subset of events that match both the single event name and the parameter filter expressions match this event filter.",
      "properties": {
        "eventName": {
          "type": "string",
          "description": "This filter matches events of this single event name. Event name is required."
        },
        "funnelParameterFilterExpression": {
          "$ref": "FunnelParameterFilterExpression",
          "description": "If specified, this filter matches events that match both the single event name and the parameter filter expressions. Inside the parameter filter expression, only parameter filters are available."
        }
      }
    },
    "ListRecurringAudienceListsResponse": {
      "description": "A list of all recurring audience lists for a property.",
      "properties": {
        "recurringAudienceLists": {
          "type": "array",
          "items": {
            "$ref": "RecurringAudienceList"
          },
          "description": "Each recurring audience list for a property."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListRecurringAudienceListsResponse"
    },
    "DimensionExpression": {
      "description": "Used to express a dimension which is the result of a formula of multiple dimensions. Example usages: 1) lower_case(dimension) 2) concatenate(dimension1, symbol, dimension2).",
      "id": "DimensionExpression",
      "properties": {
        "upperCase": {
          "$ref": "CaseExpression",
          "description": "Used to convert a dimension value to upper case."
        },
        "lowerCase": {
          "$ref": "CaseExpression",
          "description": "Used to convert a dimension value to lower case."
        },
        "concatenate": {
          "$ref": "ConcatenateExpression",
          "description": "Used to combine dimension values to a single dimension. For example, dimension \"country, city\": concatenate(country, \", \", city)."
        }
      },
      "type": "object"
    },
    "UserSegmentExclusion": {
      "properties": {
        "userExclusionDuration": {
          "enumDescriptions": [
            "Unspecified exclusion duration. Do not specify.",
            "Temporarily exclude users from the segment during periods when the user meets the `userExclusionCriteria` condition.",
            "Permanently exclude users from the segment if the user ever meets the `userExclusionCriteria` condition."
          ],
          "description": "Specifies how long an exclusion will last if a user matches the `userExclusionCriteria`. Optional. If unspecified, `userExclusionDuration` of `USER_EXCLUSION_TEMPORARY` is used.",
          "type": "string",
          "enum": [
            "USER_EXCLUSION_DURATION_UNSPECIFIED",
            "USER_EXCLUSION_TEMPORARY",
            "USER_EXCLUSION_PERMANENT"
          ]
        },
        "userExclusionCriteria": {
          "$ref": "UserSegmentCriteria",
          "description": "If a user meets this condition, the user is excluded from membership in the segment for the `userExclusionDuration`."
        }
      },
      "type": "object",
      "id": "UserSegmentExclusion",
      "description": "Specifies which users are excluded in this segment."
    },
    "EventSegmentConditionGroup": {
      "properties": {
        "segmentFilterExpression": {
          "$ref": "SegmentFilterExpression",
          "description": "Data is included or excluded from the segment based on if it matches this expression. Expressions express criteria on dimension, metrics, and/or parameters."
        },
        "conditionScoping": {
          "enumDescriptions": [
            "Unspecified criteria scoping. Do not specify.",
            "If the criteria is satisfied within one event, the event matches the criteria."
          ],
          "description": "`conditionScoping` should always be `EVENT_CRITERIA_WITHIN_SAME_EVENT`. Optional. If unspecified, a `conditionScoping` of `EVENT_CRITERIA_WITHIN_SAME_EVENT` is used.",
          "enum": [
            "EVENT_CRITERIA_SCOPING_UNSPECIFIED",
            "EVENT_CRITERIA_WITHIN_SAME_EVENT"
          ],
          "type": "string"
        }
      },
      "description": "Conditions tell Analytics what data to include in or exclude from the segment.",
      "type": "object",
      "id": "EventSegmentConditionGroup"
    },
    "InListFilter": {
      "properties": {
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        },
        "values": {
          "description": "The list of string values. Must be non-empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The result needs to be in a list of string values.",
      "id": "InListFilter",
      "type": "object"
    },
    "SchemaRestrictionResponse": {
      "properties": {
        "activeMetricRestrictions": {
          "type": "array",
          "description": "All restrictions actively enforced in creating the report. For example, `purchaseRevenue` always has the restriction type `REVENUE_DATA`. However, this active response restriction is only populated if the user's custom role disallows access to `REVENUE_DATA`.",
          "items": {
            "$ref": "ActiveMetricRestriction"
          }
        }
      },
      "id": "SchemaRestrictionResponse",
      "description": "The schema restrictions actively enforced in creating this report. To learn more, see [Access and data-restriction management](https://support.google.com/analytics/answer/10851388).",
      "type": "object"
    },
    "PropertyQuota": {
      "type": "object",
      "id": "PropertyQuota",
      "properties": {
        "tokensPerProjectPerHour": {
          "$ref": "QuotaStatus",
          "description": "Analytics Properties can use up to 35% of their tokens per project per hour. This amounts to standard Analytics Properties can use up to 14,000 tokens per project per hour, and Analytics 360 Properties can use 140,000 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        },
        "tokensPerHour": {
          "description": "Standard Analytics Properties can use up to 40,000 tokens per hour; Analytics 360 Properties can use 400,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "QuotaStatus"
        },
        "concurrentRequests": {
          "description": "Standard Analytics Properties can send up to 10 concurrent requests; Analytics 360 Properties can use up to 50 concurrent requests.",
          "$ref": "QuotaStatus"
        },
        "serverErrorsPerProjectPerHour": {
          "$ref": "QuotaStatus",
          "description": "Standard Analytics Properties and cloud project pairs can have up to 10 server errors per hour; Analytics 360 Properties and cloud project pairs can have up to 50 server errors per hour."
        },
        "potentiallyThresholdedRequestsPerHour": {
          "$ref": "QuotaStatus",
          "description": "Analytics Properties can send up to 120 requests with potentially thresholded dimensions per hour. In a batch request, each report request is individually counted for this quota if the request contains potentially thresholded dimensions."
        },
        "tokensPerDay": {
          "$ref": "QuotaStatus",
          "description": "Standard Analytics Properties can use up to 200,000 tokens per day; Analytics 360 Properties can use 2,000,000 tokens per day. Most requests consume fewer than 10 tokens."
        }
      },
      "description": "Current state of all quotas for this Analytics Property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors."
    },
    "BetweenFilter": {
      "type": "object",
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "properties": {
        "toValue": {
          "$ref": "NumericValue",
          "description": "Ends with this number."
        },
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "NumericValue"
        }
      },
      "id": "BetweenFilter"
    },
    "RunFunnelReportResponse": {
      "properties": {
        "funnelVisualization": {
          "description": "The funnel visualization is a report with the funnel step, segment, date, next action dimension, and active users. The segment dimension is only present in this response if a segment was requested. The date dimension is only present in this response if it was requested through the `TRENDED_FUNNEL` funnel type. The next action dimension is only present in the response if it was requested.",
          "$ref": "FunnelSubReport"
        },
        "kind": {
          "description": "Identifies what kind of resource this message is. This `kind` is always the fixed string \"analyticsData#runFunnelReport\". Useful to distinguish between response types in JSON.",
          "type": "string"
        },
        "propertyQuota": {
          "$ref": "PropertyQuota",
          "description": "This Analytics Property's quota state including this request."
        },
        "funnelTable": {
          "description": "The funnel table is a report with the funnel step, segment, breakdown dimension, active users, completion rate, abandonments, and abandonments rate. The segment dimension is only present in this response if a segment was requested. The breakdown dimension is only present in this response if it was requested.",
          "$ref": "FunnelSubReport"
        }
      },
      "id": "RunFunnelReportResponse",
      "description": "The funnel report response contains two sub reports. The two sub reports are different combinations of dimensions and metrics.",
      "type": "object"
    },
    "FunnelSubReport": {
      "type": "object",
      "id": "FunnelSubReport",
      "description": "Funnel sub reports contain the dimension and metric data values. For example, 12 users reached the second step of the funnel.",
      "properties": {
        "metadata": {
          "description": "Metadata for the funnel report.",
          "$ref": "FunnelResponseMetadata"
        },
        "metricHeaders": {
          "description": "Describes metric columns. Funnel reports always include active users in sub report responses. The funnel table includes additional metrics like completion rate, abandonments, and abandonments rate.",
          "items": {
            "$ref": "MetricHeader"
          },
          "type": "array"
        },
        "dimensionHeaders": {
          "items": {
            "$ref": "DimensionHeader"
          },
          "description": "Describes dimension columns. Funnel reports always include the funnel step dimension in sub report responses. Additional dimensions like breakdowns, dates, and next actions may be present in the response if requested.",
          "type": "array"
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "Rows of dimension value combinations and metric values in the report.",
          "type": "array"
        }
      }
    },
    "SegmentFilterScoping": {
      "id": "SegmentFilterScoping",
      "type": "object",
      "description": "Scopings specify how the dimensions & metrics of multiple events should be considered when evaluating a segment filter.",
      "properties": {
        "atAnyPointInTime": {
          "type": "boolean",
          "description": "If `atAnyPointInTime` is true, this filter evaluates to true for all events if it evaluates to true for any event in the date range of the request. This `atAnyPointInTime` parameter does not extend the date range of events in the report. If `atAnyPointInTime` is true, only events within the report's date range are considered when evaluating this filter. This `atAnyPointInTime` is only able to be specified if the criteria scoping is `ACROSS_ALL_SESSIONS` and is not able to be specified in sequences. If the criteria scoping is `ACROSS_ALL_SESSIONS`, `atAnyPointInTime` = false is used if unspecified."
        }
      }
    },
    "SessionSegmentExclusion": {
      "id": "SessionSegmentExclusion",
      "type": "object",
      "description": "Specifies which sessions are excluded in this segment.",
      "properties": {
        "sessionExclusionDuration": {
          "description": "Specifies how long an exclusion will last if a session matches the `sessionExclusionCriteria`. Optional. If unspecified, a `sessionExclusionDuration` of `SESSION_EXCLUSION_TEMPORARY` is used.",
          "enum": [
            "SESSION_EXCLUSION_DURATION_UNSPECIFIED",
            "SESSION_EXCLUSION_TEMPORARY",
            "SESSION_EXCLUSION_PERMANENT"
          ],
          "enumDescriptions": [
            "Unspecified exclusion duration. Do not specify.",
            "Temporarily exclude sessions from the segment during periods when the session meets the `sessionExclusionCriteria` condition.",
            "Permanently exclude sessions from the segment if the session ever meets the `sessionExclusionCriteria` condition."
          ],
          "type": "string"
        },
        "sessionExclusionCriteria": {
          "$ref": "SessionSegmentCriteria",
          "description": "If a session meets this condition, the session is excluded from membership in the segment for the `sessionExclusionDuration`."
        }
      }
    },
    "PropertyQuotasSnapshot": {
      "properties": {
        "funnelPropertyQuota": {
          "$ref": "PropertyQuota",
          "description": "Property Quota for funnel property tokens"
        },
        "realtimePropertyQuota": {
          "description": "Property Quota for realtime property tokens",
          "$ref": "PropertyQuota"
        },
        "corePropertyQuota": {
          "$ref": "PropertyQuota",
          "description": "Property Quota for core property tokens"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The property quota snapshot resource name."
        }
      },
      "type": "object",
      "description": "Current state of all Property Quotas organized by quota category.",
      "id": "PropertyQuotasSnapshot"
    },
    "QuotaStatus": {
      "id": "QuotaStatus",
      "description": "Current state for a particular quota group.",
      "properties": {
        "consumed": {
          "type": "integer",
          "format": "int32",
          "description": "Quota consumed by this request."
        },
        "remaining": {
          "format": "int32",
          "description": "Quota remaining after this request.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "FunnelParameterFilter": {
      "id": "FunnelParameterFilter",
      "type": "object",
      "description": "An expression to filter parameter values in a funnel.",
      "properties": {
        "itemParameterName": {
          "type": "string",
          "description": "This filter will be evaluated on the specified item parameter. Item parameters are logged as parameters in the item array. Item parameters include fields like \"item_name\" & \"item_category\". Item parameters can only be used in segments & funnels and can only be used in a descendent filter from an EventFilter. In a descendent filter from an EventFilter either event or item parameters should be used. Item parameters are only available in ecommerce events. To learn more about ecommerce events, see the [Measure ecommerce] (https://developers.google.com/analytics/devguides/collection/ga4/ecommerce) guide."
        },
        "stringFilter": {
          "description": "Strings related filter.",
          "$ref": "StringFilter"
        },
        "inListFilter": {
          "$ref": "InListFilter",
          "description": "A filter for in list values."
        },
        "eventParameterName": {
          "description": "This filter will be evaluated on the specified event parameter. Event parameters are logged as parameters of the event. Event parameters include fields like \"firebase_screen\" & \"currency\". Event parameters can only be used in segments & funnels and can only be used in a descendent filter from an EventFilter. In a descendent filter from an EventFilter either event or item parameters should be used.",
          "type": "string"
        },
        "numericFilter": {
          "description": "A filter for numeric or date values.",
          "$ref": "NumericFilter"
        },
        "betweenFilter": {
          "$ref": "BetweenFilter",
          "description": "A filter for between two values."
        }
      }
    },
    "WebhookNotification": {
      "type": "object",
      "properties": {
        "channelToken": {
          "type": "string",
          "description": "Optional. The channel token is an arbitrary string value and must have a maximum string length of 64 characters. Channel tokens allow you to verify the source of a webhook notification. This guards against the message being spoofed. The channel token will be specified in the `X-Goog-Channel-Token` HTTP header of the webhook POST request. A channel token is not required to use webhook notifications."
        },
        "uri": {
          "description": "Optional. The web address that will receive the webhook notification. This address will receive POST requests as the state of the long running operation resource changes. The POST request will contain both a JSON version of the long running operation resource in the body and a `sentTimestamp` field. The sent timestamp will specify the unix microseconds since the epoch that the request was sent; this lets you identify replayed notifications. An example URI is `https://us-central1-example-project-id.cloudfunctions.net/example-function-1`. The URI must use HTTPS and point to a site with a valid SSL certificate on the web server. The URI must have a maximum string length of 128 characters & use only the allowlisted characters from [RFC 1738](https://www.rfc-editor.org/rfc/rfc1738). When your webhook server receives a notification, it is expected to reply with an HTTP response status code of 200 within 5 seconds. A URI is required to use webhook notifications. Requests to this webhook server will contain an ID token authenticating the service account `google-analytics-audience-export@system.gserviceaccount.com`. To learn more about ID tokens, see https://cloud.google.com/docs/authentication/token-types#id. For Google Cloud Functions, this lets you configure your function to require authentication. In Cloud IAM, you will need to grant the service account permissions to the Cloud Run Invoker (`roles/run.invoker`) & Cloud Functions Invoker (`roles/cloudfunctions.invoker`) roles for the webhook post request to pass Google Cloud Functions authentication. This API can send webhook notifications to arbitrary URIs; for webhook servers other than Google Cloud Functions, this ID token in the authorization bearer header should be ignored if it is not needed.",
          "type": "string"
        }
      },
      "id": "WebhookNotification",
      "description": "Configures a long-running operation resource to send a webhook notification from the Google Analytics Data API to your webhook server when the resource updates. Notification configurations contain private values & are only visible to your GCP project. Different GCP projects may attach different webhook notifications to the same long-running operation resource."
    },
    "NumericFilter": {
      "id": "NumericFilter",
      "description": "Filters for numeric or date values.",
      "properties": {
        "value": {
          "$ref": "NumericValue",
          "description": "A numeric value or a date value."
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ],
          "description": "The operation type for this filter."
        }
      },
      "type": "object"
    },
    "UserSegmentConditionGroup": {
      "id": "UserSegmentConditionGroup",
      "type": "object",
      "properties": {
        "segmentFilterExpression": {
          "description": "Data is included or excluded from the segment based on if it matches this expression. Expressions express criteria on dimension, metrics, and/or parameters.",
          "$ref": "SegmentFilterExpression"
        },
        "conditionScoping": {
          "enumDescriptions": [
            "Unspecified criteria scoping. Do not specify.",
            "If the criteria is satisfied within one event, the user matches the criteria.",
            "If the criteria is satisfied within one session, the user matches the criteria.",
            "If the criteria is satisfied by any events for the user, the user matches the criteria."
          ],
          "description": "Data is included or excluded from the segment based on if it matches the condition group. This scoping defines how many events the `segmentFilterExpression` is evaluated on before the condition group is determined to be matched or not. For example if `conditionScoping = USER_CRITERIA_WITHIN_SAME_SESSION`, the expression is evaluated on all events in a session, and then, the condition group is determined to be matched or not for this user. For example if `conditionScoping = USER_CRITERIA_WITHIN_SAME_EVENT`, the expression is evaluated on a single event, and then, the condition group is determined to be matched or not for this user. Optional. If unspecified, `conditionScoping = ACROSS_ALL_SESSIONS` is used.",
          "enum": [
            "USER_CRITERIA_SCOPING_UNSPECIFIED",
            "USER_CRITERIA_WITHIN_SAME_EVENT",
            "USER_CRITERIA_WITHIN_SAME_SESSION",
            "USER_CRITERIA_ACROSS_ALL_SESSIONS"
          ],
          "type": "string"
        }
      },
      "description": "Conditions tell Analytics what data to include in or exclude from the segment."
    },
    "AudienceListMetadata": {
      "description": "This metadata is currently blank.",
      "properties": {},
      "id": "AudienceListMetadata",
      "type": "object"
    },
    "ReportMetadata": {
      "description": "The report metadata for a specific report task.",
      "id": "ReportMetadata",
      "properties": {
        "state": {
          "description": "Output only. The current state for this report task.",
          "enumDescriptions": [
            "Unspecified state will never be used.",
            "The report is currently creating and will be available in the future. Creating occurs immediately after the CreateReport call.",
            "The report is fully created and ready for querying.",
            "The report failed to be created."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED"
          ]
        },
        "taskRowCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The total number of rows in the report result. This field will be populated when the state is active. You can utilize `task_row_count` for pagination within the confines of their existing report.",
          "type": "integer"
        },
        "errorMessage": {
          "description": "Output only. Error message is populated if a report task fails during creation.",
          "readOnly": true,
          "type": "string"
        },
        "creationQuotaTokensCharged": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The total quota tokens charged during creation of the report. Because this token count is based on activity from the `CREATING` state, this tokens charge will be fixed once a report task enters the `ACTIVE` or `FAILED` state.",
          "type": "integer"
        },
        "beginCreatingTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when `CreateReportTask` was called and the report began the `CREATING` state."
        },
        "totalRowCount": {
          "description": "Output only. The total number of rows in Google Analytics storage. If you want to query additional data rows beyond the current report, they can initiate a new report task based on the `total_row_count`. The `task_row_count` represents the number of rows specifically pertaining to the current report, whereas `total_row_count` encompasses the total count of rows across all data retrieved from Google Analytics storage. For example, suppose the current report's `task_row_count` is 20, displaying the data from the first 20 rows. Simultaneously, the `total_row_count` is 30, indicating the presence of data for all 30 rows. The `task_row_count` can be utilizated to paginate through the initial 20 rows. To expand the report and include data from all 30 rows, a new report task can be created using the total_row_count to access the full set of 30 rows' worth of data.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "OrderBy": {
      "description": "Order bys define how rows will be sorted in the response. For example, ordering rows by descending event count is one ordering, and ordering rows by the event name string is a different ordering.",
      "id": "OrderBy",
      "properties": {
        "desc": {
          "type": "boolean",
          "description": "If true, sorts by descending order."
        },
        "metric": {
          "description": "Sorts results by a metric's values.",
          "$ref": "MetricOrderBy"
        },
        "dimension": {
          "description": "Sorts results by a dimension's values.",
          "$ref": "DimensionOrderBy"
        }
      },
      "type": "object"
    },
    "FunnelStep": {
      "properties": {
        "isDirectlyFollowedBy": {
          "description": "If true, this step must directly follow the previous step. If false, there can be events between the previous step and this step. If unspecified, `isDirectlyFollowedBy` is treated as false.",
          "type": "boolean"
        },
        "withinDurationFromPriorStep": {
          "type": "string",
          "description": "If specified, this step must complete within this duration of the completion of the prior step. `withinDurationFromPriorStep` is inclusive of the endpoint at the microsecond granularity. For example a duration of 5 seconds can be completed at 4.9 or 5.0 seconds, but not 5 seconds and 1 microsecond. `withinDurationFromPriorStep` is optional, and if unspecified, steps may be separated by any time duration.",
          "format": "google-duration"
        },
        "name": {
          "type": "string",
          "description": "The distinctive name for this step. If unspecified, steps will be named by a 1 based indexed name (for example \"0. \", \"1. \", etc.). This name defines string value returned by the `funnelStepName` dimension. For example, specifying `name = Purchase` in the request's third funnel step will produce `3. Purchase` in the funnel report response."
        },
        "filterExpression": {
          "description": "The condition that your users must meet to be included in this step of the funnel journey.",
          "$ref": "FunnelFilterExpression"
        }
      },
      "description": "Steps define the user journey you want to measure. Steps contain one or more conditions that your users must meet to be included in that step of the funnel journey.",
      "type": "object",
      "id": "FunnelStep"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "ChatRequest": {
      "description": "Request message for the Chat method.",
      "properties": {
        "sessionId": {
          "description": "Optional. Provide this session ID to continue an existing conversation and maintain context. If this field is empty or unset, a new chat session is created. Invalid session IDs will result in an error.",
          "type": "string"
        },
        "returnPropertyQuota": {
          "description": "Optional. If true, the response will include the current state of this Analytics Property's quota. Quota is returned in [PropertyChatQuota](#PropertyChatQuota).",
          "type": "boolean"
        },
        "userQuery": {
          "description": "Required. The user's query.",
          "type": "string"
        }
      },
      "id": "ChatRequest",
      "type": "object"
    },
    "SessionSegment": {
      "properties": {
        "exclusion": {
          "description": "Defines which sessions are excluded in this segment. Optional.",
          "$ref": "SessionSegmentExclusion"
        },
        "sessionInclusionCriteria": {
          "description": "Defines which sessions are included in this segment. Optional.",
          "$ref": "SessionSegmentCriteria"
        }
      },
      "description": "Session segments are subsets of the sessions that occurred on your site or app: for example, all the sessions that originated from a particular advertising campaign.",
      "id": "SessionSegment",
      "type": "object"
    },
    "RunFunnelReportRequest": {
      "id": "RunFunnelReportRequest",
      "description": "The request for a funnel report.",
      "type": "object",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "Segment"
          },
          "description": "Optional. The configurations of segments. Segments are subsets of a property's data. In a funnel report with segments, the funnel is evaluated in each segment. Each segment specified in this request produces a separate row in the response; in the response, each segment identified by its name. The segments parameter is optional. Requests are limited to 4 segments."
        },
        "dateRanges": {
          "type": "array",
          "items": {
            "$ref": "DateRange"
          },
          "description": "Optional. Date ranges of data to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the event data for the overlapping days is included in the response rows for both date ranges."
        },
        "returnPropertyQuota": {
          "type": "boolean",
          "description": "Optional. Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [PropertyQuota](#PropertyQuota)."
        },
        "funnelNextAction": {
          "description": "Optional. If specified, next action adds a dimension to the funnel visualization sub report response. This next action dimension expands each funnel step to the unique values of the next action. For example a next action of the `eventName` dimension will create rows for several events (for example `session_start` & `click`) and the total. Next action only supports `eventName` and most Page / Screen dimensions like `pageTitle` and `pagePath`.",
          "$ref": "FunnelNextAction"
        },
        "funnelBreakdown": {
          "$ref": "FunnelBreakdown",
          "description": "Optional. If specified, this breakdown adds a dimension to the funnel table sub report response. This breakdown dimension expands each funnel step to the unique values of the breakdown dimension. For example, a breakdown by the `deviceCategory` dimension will create rows for `mobile`, `tablet`, `desktop`, and the total."
        },
        "dimensionFilter": {
          "description": "Optional. Dimension filters allow you to ask for only specific dimension values in the report. To learn more, see [Creating a Report: Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter.",
          "$ref": "FilterExpression"
        },
        "funnel": {
          "$ref": "Funnel",
          "description": "Optional. The configuration of this request's funnel. This funnel configuration is required."
        },
        "limit": {
          "format": "int64",
          "description": "Optional. The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 250,000 rows per request, no matter how many you ask for. `limit` must be positive. The API can also return fewer rows than the requested `limit`, if there aren't as many dimension values as the `limit`.",
          "type": "string"
        },
        "funnelVisualizationType": {
          "type": "string",
          "description": "Optional. The funnel visualization type controls the dimensions present in the funnel visualization sub report response. If not specified, `STANDARD_FUNNEL` is used.",
          "enum": [
            "FUNNEL_VISUALIZATION_TYPE_UNSPECIFIED",
            "STANDARD_FUNNEL",
            "TRENDED_FUNNEL"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "A standard (stepped) funnel. The funnel visualization sub report in the response will not contain date.",
            "A trended (line chart) funnel. The funnel visualization sub report in the response will contain the date dimension."
          ]
        }
      }
    },
    "Funnel": {
      "description": "Configures the funnel in a funnel report request. A funnel reports on users as they pass through a sequence of steps. Funnel exploration lets you visualize the steps your users take to complete a task and quickly see how well they are succeeding or failing at each step. For example, how do prospects become shoppers and then become buyers? How do one time buyers become repeat buyers? With this information, you can improve inefficient or abandoned customer journeys.",
      "id": "Funnel",
      "type": "object",
      "properties": {
        "isOpenFunnel": {
          "type": "boolean",
          "description": "In an open funnel, users can enter the funnel in any step, and in a closed funnel, users must enter the funnel in the first step. Optional. If unspecified, a closed funnel is used."
        },
        "steps": {
          "description": "The sequential steps of this funnel.",
          "items": {
            "$ref": "FunnelStep"
          },
          "type": "array"
        }
      }
    },
    "FunnelNextAction": {
      "description": "Next actions state the value for a dimension after the user has achieved a step but before the same user has achieved the next step. For example if the `nextActionDimension` is `eventName`, then `nextActionDimension` in the `i`th funnel step row will return first event after the event that qualified the user into the `i`th funnel step but before the user achieved the `i+1`th funnel step.",
      "id": "FunnelNextAction",
      "type": "object",
      "properties": {
        "nextActionDimension": {
          "$ref": "Dimension",
          "description": "The dimension column added to the funnel visualization sub report response. The next action dimension returns the next dimension value of this dimension after the user has attained the `i`th funnel step. `nextActionDimension` currently only supports `eventName` and most Page / Screen dimensions like `pageTitle` and `pagePath`. `nextActionDimension` cannot be a dimension expression."
        },
        "limit": {
          "type": "string",
          "description": "The maximum number of distinct values of the breakdown dimension to return in the response. A `limit` of `5` is used if limit is not specified. Limit must exceed zero and cannot exceed 5.",
          "format": "int64"
        }
      }
    },
    "SessionSegmentCriteria": {
      "id": "SessionSegmentCriteria",
      "properties": {
        "andConditionGroups": {
          "items": {
            "$ref": "SessionSegmentConditionGroup"
          },
          "type": "array",
          "description": "A session matches this criteria if the session matches each of these `andConditionGroups`."
        }
      },
      "type": "object",
      "description": "A session matches a criteria if the session's events meet the conditions in the criteria."
    },
    "FunnelBreakdown": {
      "type": "object",
      "description": "Breakdowns add a dimension to the funnel table sub report response.",
      "id": "FunnelBreakdown",
      "properties": {
        "limit": {
          "format": "int64",
          "description": "The maximum number of distinct values of the breakdown dimension to return in the response. A `limit` of `5` is used if limit is not specified. Limit must exceed zero and cannot exceed 15.",
          "type": "string"
        },
        "breakdownDimension": {
          "$ref": "Dimension",
          "description": "The dimension column added to the funnel table sub report response. The breakdown dimension breaks down each funnel step. A valid `breakdownDimension` is required if `funnelBreakdown` is specified."
        }
      }
    },
    "ReportTask": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The report task resource name assigned during creation. Format: \"properties/{property}/reportTasks/{report_task}\"",
          "readOnly": true
        },
        "reportMetadata": {
          "description": "Output only. The report metadata for a specific report task, which provides information about a report. It typically includes the following information: the resource name of the report, the state of the report, the timestamp the report was created, etc,",
          "$ref": "ReportMetadata",
          "readOnly": true
        },
        "reportDefinition": {
          "$ref": "ReportDefinition",
          "description": "Optional. A report definition to fetch report data, which describes the structure of a report. It typically includes the fields that will be included in the report and the criteria that will be used to filter the data."
        }
      },
      "description": "A specific report task configuration.",
      "id": "ReportTask",
      "type": "object"
    },
    "AudienceDimension": {
      "type": "object",
      "description": "An audience dimension is a user attribute. Specific user attributed are requested and then later returned in the `QueryAudienceListResponse`.",
      "id": "AudienceDimension",
      "properties": {
        "dimensionName": {
          "description": "Optional. The API name of the dimension. See the [API Dimensions](https://developers.google.com/analytics/devguides/reporting/data/v1/audience-list-api-schema#dimensions) for the list of dimension names.",
          "type": "string"
        }
      }
    },
    "FilterExpressionList": {
      "description": "A list of filter expressions.",
      "id": "FilterExpressionList",
      "type": "object",
      "properties": {
        "expressions": {
          "description": "A list of filter expressions.",
          "type": "array",
          "items": {
            "$ref": "FilterExpression"
          }
        }
      }
    },
    "Metric": {
      "properties": {
        "name": {
          "description": "The name of the metric. See the [API Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#metrics) for the list of metric names supported by core reporting methods such as `runReport` and `batchRunReports`. See [Realtime Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/realtime-api-schema#metrics) for the list of metric names supported by the `runRealtimeReport` method. See [Funnel Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/exploration-api-schema#metrics) for the list of metric names supported by the `runFunnelReport` method. If `expression` is specified, `name` can be any string that you would like within the allowed character set. For example if `expression` is `screenPageViews/sessions`, you could call that metric's name = `viewsPerSession`. Metric names that you choose must match the regular expression `^[a-zA-Z0-9_]$`. Metrics are referenced by `name` in `metricFilter`, `orderBys`, and metric `expression`.",
          "type": "string"
        },
        "invisible": {
          "type": "boolean",
          "description": "Indicates if a metric is invisible in the report response. If a metric is invisible, the metric will not produce a column in the response, but can be used in `metricFilter`, `orderBys`, or a metric `expression`."
        },
        "expression": {
          "description": "A mathematical expression for derived metrics. For example, the metric Event count per user is `eventCount/totalUsers`.",
          "type": "string"
        }
      },
      "description": "The quantitative measurements of a report. For example, the metric `eventCount` is the total number of events. Requests are allowed up to 10 metrics.",
      "type": "object",
      "id": "Metric"
    },
    "ConversionSpec": {
      "properties": {
        "attributionModel": {
          "enumDescriptions": [
            "Unspecified attribution model.",
            "Attribution was based on the paid and organic data driven model",
            "Attribution was based on the paid and organic last click model"
          ],
          "type": "string",
          "description": "The attribution model to use in the Conversion Report. If unspecified, `DATA_DRIVEN` is used.",
          "enum": [
            "ATTRIBUTION_MODEL_UNSPECIFIED",
            "DATA_DRIVEN",
            "LAST_CLICK"
          ]
        },
        "conversionActions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The conversion action IDs to include in the report. If empty, all conversions are included. Valid conversion action IDs can be retrieved from the `conversion_action` field within the `conversions` list in the response of the `GetMetadata` method. For example, 'conversionActions/1234'."
        }
      },
[...]
